<section class="horizontal-form">
  {{#if needAPIToken}}
  <form>
    <div class="over-hr r-mb20">
      <span>Account Access</span>
    </div>
    <div class="row">
      <div class="col span-12">
		<label class="acc-label">API Key*</label>
        {{input type="password" value=model.vultrConfig.apiKey classNames="form-control" placeholder="Your Vultr API Token"}}
        <p class="help-block">Create it by switching into the
          <a target="_blank" rel="noopener noreferrer" href="https://my.vultr.com/settings/#settingsapi">Vultr Settings</a> and create a new API token there.</p>
      </div>
    </div>
    {{top-errors errors=errors}}
    <div class="footer-actions">
      {{#if gettingData}}
      <button class="btn bg-primary btn-disabled">
        <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}</button>
      {{else}}
      <button {{action "getData" }} class="btn bg-primary" disabled={{not model.vultrConfig.apiKey}}>Configure Server</button>
      {{/if}}
      <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
    </div>
  </form>
  {{else}}
  <div class="container-fluid">
    {{!-- This partial contains the quantity, name, and description fields --}}
    <div class="over-hr r-mt20 r-mb20">
      <span>Settings</span>
    </div>
    <div class="row">
      <div class="col span-6">
		<label class="acc-label">Region</label>
        <select class="form-control" onchange={{action (mut model.vultrConfig.region) value="target.value" }}>
          {{#each regionChoices as |choice|}}
            <option value={{choice.id}} selected={{eq model.vultrConfig.region choice.id}}>{{choice.city}}</option>
          {{/each}}
        </select>
      </div>
	  <div class="col span-6">
		<label class="acc-label">Plan</label>
        <select class="form-control" onchange={{action (mut model.vultrConfig.vpsPlan) value="target.value" }}>
          {{#each planChoices as |choice|}}
            <option value={{choice}} selected={{eq model.vultrConfig.vpsPlan choice}}>{{choice}}</option>
          {{/each}}
        </select>
      </div>
    </div>
	<div class="row">
		<div class="col span-6">
			<label class="acc-label">Tags you'd like to attach to this resource (comma separated)</label>
			<input autocomplete="off" autocapitalize="none" class="ember-text-field ember-view" type="text" value={{model.vultrConfig.tmpTags}} onchange={{action 'setTags' value="target.value" }} />
		</div>
		<div class="col span-6">
			<label class="acc-label">Operating system ID (default: [387] Ubuntu 20.04)</label>
        	<select class="form-control" onchange={{action (mut model.vultrConfig.osId) value="target.value" }}>
          	{{#each osChoices as |choice|}}
            	<option value={{choice.id}} selected={{eq model.vultrConfig.osId choice.id}}>{{choice.id}} - {{choice.name}}</option>
          	{{/each}}
        	</select>
      </div>
	</div>
	<div class="row">
		<div class="col span-6">
			<label class="acc-label">ISO ID you'd like to boot this resource into</label>
			{{input type="number" value=model.vultrConfig.isoId }}
		</div>
		<div class="col span-6">
			<label class="acc-label">App ID of the Vultr Marketplace App to deploy to this resource</label>
			{{input type="number" value=model.vultrConfig.appId placeholder="0" }}
		</div>
	</div>
	<div class="row">
		<div class="col span-6">
			<label class="acc-label">VPC IDs you want to attach to this resource (comma separated)</label>
			<input autocomplete="off" autocapitalize="none" class="ember-text-field ember-view" type="text" value={{model.vultrConfig.tmpVpcIds}} onchange={{action 'setVpc' value="target.value" }} />
	  	</div>
		<div class="col span-6">
			<label class="acc-label">SSH Key IDs you'd like installed on this resource (comma separated)</label>
			<input autocomplete="off" autocapitalize="none" class="ember-text-field ember-view" type="text" value={{model.vultrConfig.tmpSshKeyIds}} onchange={{action 'setSsh' value="target.value" }} />
	  	</div>
	</div>
	<div class="row">
		<div class="col span-6">
			<label class="acc-label">IPXE Chain URL you'd like to boot this resource to</label>
			{{input type="text" value=model.vultrConfig.ipxeChainUrl }}
		</div>
		<div class="col span-6">
			<label class="acc-label">Startup Script ID vou'd like to run on this resource after boot</label>
			{{input type="number" value=model.vultrConfig.startupScriptId }}
		</div>
	</div>
	<div class="row">
		<div class="col span-4">
			<label class="acc-label">{{input type="checkbox" checked=model.vultrConfig.vpsBackups }}
				Enable automatic backups of this VPS
			</label>
		</div>
		<div class="col span-4">
			<label class="acc-label">{{input type="checkbox" checked=model.vultrConfig.ddosProtection}}
				Enable DDOS Protection
			</label>
		</div>
		<div class="col span-4">
			<label class="acc-label">{{input type="checkbox" checked=model.vultrConfig.sendActivationEmail}}
				Send Activation Email
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col span-4">
			<div class="checkbox">
				<label class="acc-label">{{input type="checkbox" checked=model.vultrConfig.enabledIpv6}}
					Enable IPv6
				</label>
			</div>
		</div>
		<div class="col span-4">
			<div class="checkbox">
				<label class="acc-label">{{input type="checkbox" checked=model.vultrConfig.enableVpc}}
					Enable VPC
				</label>
			</div>
		</div>
	</div>
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">Pass base64 encoded cloud-init user data to this resource</label>
        <textarea value={{model.vultrConfig.cloudInitUserData}} onchange={{action (mut model.vultrConfig.cloudInitUserData) value="target.value" }} rows="1" style="width: 100%; resize: vertical"></textarea>
      </div>
      <div class="col span-6">
		<label class="acc-label">Firewall Group ID you'd like to attach this resource to</label>
		{{input type="text" value=model.vultrConfig.firewallGroupId }}
	  </div>
    </div>
	 <div class="row">
		<div class="col span-6">
			<label class="acc-label">ID of the floating/reserved IPV4 address to use as the main IP of this resource</label>
			{{input type="text" value=model.vultrConfig.floatingIpv4Id }}
	  	</div>
		<div class="col span-6">
			<label class="acc-label">Specific Image ID of the Vultr Marketplace App you'd like to deploy</label>
			{{input type="text" value=model.vultrConfig.imageId }}
	  	</div>
	 </div>
	<div class="over-hr">
    	<span>{{templateOptionsTitle}}</span>
  	</div>
     {{!-- This following contains the Name, Labels and Engine Options fields --}}
     {{form-name-description model=model nameRequired=true}}
     {{form-user-labels initialLabels=labelResource.labels setLabels=(action 'setLabels') expandAll=expandAll expand=(action expandFn) }}
     {{form-engine-opts machine=model showEngineUrl=showEngineUrl }}
     {{!-- This component shows errors produced by validate() in the component --}}
     {{top-errors errors=errors}}
     {{!-- This component shows the Create and Cancel buttons --}}
     {{save-cancel save="save" cancel=(action "cancel")}}
  </div>
  {{/if}}
</section>